{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", // 如果使用entry则包含corejs + regenerator
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}